@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ClashGrotesk';
  src: url('../fonts/ClashGrotesk-Light.woff2') format('woff2'),
       url('../fonts/ClashGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashGrotesk';
  src: url('../fonts/ClashGrotesk-Regular.woff2') format('woff2'),
       url('../fonts/ClashGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashGrotesk';
  src: url('../fonts/ClashGrotesk-Medium.woff2') format('woff2'),
       url('../fonts/ClashGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashGrotesk';
  src: url('../fonts/ClashGrotesk-Semibold.woff2') format('woff2'),
       url('../fonts/ClashGrotesk-Semibold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'ClashGrotesk';
  src: url('../fonts/ClashGrotesk-Bold.woff2') format('woff2'),
       url('../fonts/ClashGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    font-family: 'ClashGrotesk', sans-serif;
  }
}

@layer utilities {
  .width-balance {
    @apply px-5 lg:px-10 xl:px-20 mx-auto w-full max-w-7xl;
  }

  .section-border {
    @apply mx-auto w-[85%] xl:w-3/4 max-w-7xl h-[1.84px] bg-black/20 blur-[1.5px];
  }

  .title-line {
    @apply after:block after:content-[''] after:w-20 after:border-b after:border-b-black after:mt-1;
  }
}
